* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #eeeded;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #3e7fe0;
    color: white;
    margin-bottom: 56px;
}

.container-corpo {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.menu li {
    font-weight: bold;
    float: left;
    list-style: none;
    padding: 8px;
}

.menu li a:hover {
    border-bottom: 2px solid white;
    
}

.menu li a {
    font-style: normal;
    text-decoration: none;
    color: white;
}

.sobre img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    margin-right: 24px;
}

.sobre {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 54px;
}

h3 {
    color: #3e7fe0;
    font-weight: bolder;
    font-size: 1.4em;
    font-style: italic;
    margin-bottom: 40px;
    padding: 0 0 12px;
    border-bottom: 2px solid #3e7fe0;
}

.container-sobre {
    padding: 0 12px ;

}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1.25%;
    row-gap: 5%;
}

.produto {
    max-height: 434px;
    height: 100%;
}

.produto img {
    max-width: 100%;
    margin-bottom: 40px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    max-height: 48px;
    margin-bottom: 12px;
}

p {
    font-weight: 500;
}

button {
    border: none;
    padding: 8px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    background-color: #3e7fe0;
    width: 100%;
    margin-top: 12px;
}

@media screen and (max-width:767px) {
    .sobre {
        display: block;
    }
    .sobre img {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .container-sobre {
        padding: 0;
    }

    .container-corpo {
        max-width: 90%;
    }

    .produtos {
        display: block;
    }
}